/* .App {
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: inline-block;
  min-height: 100vh;
  min-width: 250px;;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
}

.chatWindow {
  display: inline-block;
  min-height: 100vh;
  width: 80vw;
  color: black;
} */

.App {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "sidebar main";
  height: 100vh;
  width: 100vw;
}

.chatSidebar {
  grid-area: sidebar;
  background-color: #ecf0f1;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  height: 100vh;
}

.chatMain {
  grid-area: main;
  scroll-behavior: auto;
}

.messageInputContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  margin-left: 0px;
  height: 40px;
  box-shadow: 2px 0 4px rgba(0, 0, 0, .4);
}

.messageInput {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 12px;
}
.messageInput:focus {
  outline: none;
}
